<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-cart" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModal">Корзина</h5>
                <button type="button" class="close reset-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div id='cart-items'>
                    <div class="cart-empty">Корзина пуста</div>
                </div>

                <div class="modal-bottom d-flex align-items-center cart-bottom">
                    <button class="cart-resume mr-auto reset-btn" data-dismiss="modal" aria-label="Close">Продолжить
                        покупки</button>
                    <div class="spinner-border cart-spinner" role="status" id="cart-spinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="cart-total" id="total"></div>
                    <button class="cart-checkout reset-btn" onclick="window.location.href = '/cart/checkout'">Оформить
                        заказ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart Modal -->