<section class="hero d-flex align-items-center ">
    <img src="/images/lansot_cover_image_03.jpg" class="d-block w-100 cover"
        alt="Большой обеденный стол Bernard в интерьере от Lansot">
    {{!-- <div class="hero-caption">
            <h1 class="hero-title">Мебель и декор в минималистичном стиле</h1>
            <p class="hero-desc"></p>
        </div> --}}
</section>