<section class="hero d-flex align-items-center ">
    <div id="carouselFade" class="carousel slide carousel-fade w-100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/lansot_cover_image_03.jpg" class="d-block w-100"
                    alt="Большой обеденный стол Bernard в интерьере от Lansot">
            </div>
            <div class="carousel-item">
                <img src="/images/lansot_cover_image_04.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="/images/lansot_cover_image_03.jpg" class="d-block w-100" alt="">
            </div>
        </div>
    </div>
</section>