{{> header }}
<main>
    <section class="content">
        <div class="checkout-success-container d-flex align-items-center flex-column">
            <i class="far fa-badge-check success-icon"></i>
            <div class="checkout-success-msg">Ваш заказ принят!</div>
            <p class="checkout-success-details">Мы свяжемся с Вами в ближайшее время</p>
            <p class="checkout-success-number">Номер заказа<span>№{{order_id}}</span></p>
        </div>
    </section>
</main>
{{#if success}}
    <script>localStorage.removeItem('cart-guest')</script>
{{/if}}
</div>

{{> footer }}