<div class="wrapper container container-sm container-md container-lg container-xl">
    {{> header }}
    <main>
        <section>
            <h3 class="title">{{title}}</h3>
            <div class="container contacts m-bot-2">
                <div class="row">
                    <div class="col no-padding">
                        <div>
                            <p>Украина, Киев<br>
                                ул. Челябинская 10</p>
                            <p class="phone-number">+38 097 112 26 16 <a
                                    href="viber://pa?chatURI=4b4376a49ba7dd2b-cd80315fdfb9d5be-736ac014166ccffc"><span
                                        style="background-color:blueviolet;font-size:1rem; padding:4px 16px; border-radius:16px; color:#ffffff;"><i
                                            class="fab fa-viber"></i>
                                        Viber</span></a>
                            </p>
                            <p><i class="far fa-envelope"></i> info@lansot.com</p>
                            <p><a href="https://www.instagram.com/lansotcom" target="_blank"
                                    rel="noopener noreferrer nofollow"><i class="fab fa-instagram"></i>
                                    Instagram</a></p>
                            <p><a href="https://www.facebook.com/lansotcom" target="_blank"
                                    rel="noopener noreferrer nofollow"><i class="fab fa-facebook-square"></i>
                                    Facebook</a></p>
                        </div>
                    </div>
                    <div class="col no-padding">
                        {{!-- <form action="" method="post">
                            <div class="input-group">
                                <label for="name">Ваше имя</label>
                                <input type="text" name="fname" placeholder="Ваше имя">
                            </div>
                            <div class="input-group">
                                <label for="fphone">Номер телефона</label>
                                <input type="text" name="fphone" placeholder="Номер телефона">
                            </div>
                            <div class="input-group">
                                <label for="femail">Электронная почта</label>
                                <input type="text" name="femail" placeholder="Электронная почта">
                            </div>
                            <div class="input-group">
                                <label for="fmessage">Сообщение</label>
                                <textarea name="fmessage" id="" rows="10"></textarea>
                            </div>
                            <button type="submit" class="reset-btn secondary-btn">Отправить</button>
                        </form> --}}
                        <div class="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3020.4863299969397!2d30.59355448038588!3d50.461286508774485!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x22a6ea45b9337c32!2zTGFuc290IC0g0JzQtdCx0LXQu9GMINC4INC00LXQutC-0YAg0LIg0LzQuNC90LjQvNCw0LvQuNGB0YLQuNGH0L3QvtC8INGB0YLQuNC70LU!5e0!3m2!1sen!2sua!4v1585068638730!5m2!1sen!2sua"
                                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
</div>

{{> footer }}