<div class="wrapper container container-sm container-md container-lg container-xl">
    {{> header }}
    <main>
        <section>
            <h3 class="title">{{title}}</h3>
            <div class="container contacts m-bot-2">
                <div class="row">
                    <div class="col no-padding">
                        <h5>Оплата</h5>
                        <p>После подтверждения заказа, менеджер выставляет счет для внесения предоплаты в размере 50%.
                        </p>
                        <p>После оплаты,
                            заказ
                            поступает на производство. Оплата оставшейся суммы производится после получения заказа.</p>
                        <p>
                            Все
                            расчеты
                            производятся в
                            национальной валюте.</p>

                        <h5>Доставка</h5>
                        <p>Доставка по городу Киеву осуществляется нашим транспортом. Доставка в другие города и
                            населенные пункты
                            осуществляется
                            почтовыми службами.</p>
                        <p>По готовности заказа, менеджер связывается с вами и обсуждает дату и время доставки.</p>
                        <p>Сборку изделий можно производить самостоятельно. Все изделия которые идут в разобранном виде
                            комплектуются детальной
                            инструкцией.</p>
                        <p>Доставка почтовыми службами рассчитывается согласно тарифам перевозчика.</p>
                    </div>
                    <div class="col no-padding"></div>
                </div>
            </div>

        </section>
    </main>
</div>

{{> footer }}